body {
  font-family: Arial, sans-serif;
}
body main {
  background-color: #f2f2f2;
  color: #333;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
header h1 {
  font-size: 2rem;
  margin: 0;
}
/* pre {
  background-color: black;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: forestgreen;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
} */

#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
  }
  body nav header {
    color: #fff;
  }
  .nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin: 5px 0;
    font-size: 1.2rem;
  }
  .nav-link:hover {
  background-color: rgb(144, 173, 192);
}
  
  .main-section {
    margin-left: 25%;
    padding: 20px;
  }
  
  .main-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .main-section p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .main-section code {
    background-color: #000000;
    color: rgb(109, 182, 109);
    padding: 2px;
    font-family: monospace;
  }
  
  .main-section ul li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    #navbar {
      width: 100%;
      height: auto;
      overflow-y: hidden;
      padding: 5px;
      margin-bottom: 90%;
    }
        .main-section {
      margin-left: 0;
      padding: 10px;
    }
  }
  